@charset "UTF-8";
:root {
  --smc-font-sans: Raleway, -apple-system, "PingFang SC", "Microsoft YaHei", Arial, sans-serif;
  --smc-font-serif: 'Songti SC', 'Noto Serif SC', STZhongsong, STKaiti, KaiTi, Roboto, serif;
  --smc-font-mono: Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --smc-c-primary-light: rgb(127.5, 127.5, 127.5);
  --smc-c-primary-lighter: #999999;
  --smc-c-primary: #000000;
  --smc-theme-name: planet;
  --smc-line-height: 1.5;
  --smc-c-primary-rgb: 0, 0, 0;
  --smc-c-text: #24292e;
  --smc-c-text-light: #555;
  --smc-c-text-lighter: #666;
  --smc-header-bottom-color: #eaecef;
  --smc-border-color: var(--smc-c-primary-light);
  --smc-code-bg-color: #f6f8fa;
  --smc-link-color: hsl(0, 0%, -10%);
}

html.dark {
  --smc-c-text: #f2f2f2;
  --smc-c-text-light: #ddd;
  --smc-c-text-lighter: #eee;
  --smc-code-bg-color: #242424;
  --smc-link-color: rgb(25.5, 25.5, 25.5);
  --smc-header-bottom-color: #333;
}

.markdown-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: var(--smc-bg-color);
  color: var(--smc-c-text);
  font-family: var(--smc-font-sans);
  font-size: 1rem;
  line-height: var(--smc-line-height);
  overflow-wrap: break-word;
}
.markdown-body * {
  box-sizing: border-box;
}
.markdown-body a {
  background-color: transparent;
}
.markdown-body a:active, .markdown-body a:hover {
  outline-width: 0;
}
.markdown-body hr {
  background-color: var(--smc-c-primary, #333);
  height: 0.1rem;
  margin: 1.5rem 0;
}
.markdown-body kbd {
  display: inline-block;
  padding: 3px 6px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1c6c7;
}
.markdown-body dd {
  margin-left: 0;
}
.markdown-body dl {
  padding: 0;
}
.markdown-body dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1rem;
  font-style: italic;
  font-weight: 600;
}
.markdown-body dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}
.markdown-body summary {
  outline: none;
}
.markdown-body blockquote {
  margin: 1rem 0;
  padding: 0 1rem;
  border-left: 0.25em solid var(--smc-border-color);
}
.markdown-body code,
.markdown-body pre {
  font-family: "Source Code Pro", Consolas, Monaco, SFMono-Regular, "Ubuntu Mono", Menlo, monospace;
}
.markdown-body h1 > code,
.markdown-body h2 > code,
.markdown-body h3 > code,
.markdown-body h4 > code {
  font-size: 0.9em;
}
.markdown-body code {
  padding: 3px 6px;
  font-size: 0.85rem;
  color: var(--smc-c-text-light);
  background: var(--smc-code-bg-color);
  border-radius: 3px;
}
.markdown-body pre {
  margin-top: 0;
  margin-bottom: 0;
  overflow-wrap: normal;
  padding: 1rem;
  overflow: auto;
  background-color: var(--smc-code-bg-color);
  border-radius: 3px;
}
.markdown-body pre > code {
  font-size: 0.85rem;
  white-space: pre;
}
.markdown-body pre code {
  display: block;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-break: normal;
  background-color: transparent;
  border: 0;
}
.markdown-body img {
  display: block;
  margin: 1rem auto;
  max-width: 92%;
  max-height: 600px;
  border-radius: 0.2rem;
  transition: 0.4s;
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0/0.1), 0 1px 2px -1px rgb(0 0 0/0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
}
.markdown-body img:hover {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0/0.1), 0 2px 4px -2px rgb(0 0 0/0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
}
.markdown-body img::before {
  content: "「 LOADING ERROR 」";
}
.markdown-body img[align=right] {
  margin-left: 1rem;
  margin-right: 0.5rem;
}
.markdown-body img[align=left] {
  margin-left: 0.5rem;
  margin-right: 1rem;
}
.markdown-body img + em {
  display: block;
  text-align: center;
  color: var(--smc-c-text-light, #333);
  font-size: 0.9rem;
}
.markdown-body iframe {
  display: flex;
  width: 92%;
  margin: auto;
  border-radius: 0.2rem;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: 0.4s;
}
.markdown-body iframe:hover {
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 1600px) {
  .markdown-body img {
    max-width: 800px;
  }
}
.markdown-body video {
  margin: auto;
}
.markdown-body a {
  color: var(--smc-c-primary);
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}
.markdown-body a:hover {
  color: var(--smc-link-color);
  border-bottom: 1px solid var(--smc-link-color);
}
.markdown-body a:not([href]) {
  color: inherit;
  text-decoration: none;
}
.markdown-body ul,
.markdown-body ol {
  padding-left: 2em;
}
.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ul,
.markdown-body ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.markdown-body ul ul ol,
.markdown-body ul ol ol,
.markdown-body ol ul ol,
.markdown-body ol ol ol {
  list-style-type: lower-alpha;
}
.markdown-body ul ol,
.markdown-body ol ol {
  list-style-type: lower-roman;
}
.markdown-body li {
  overflow-wrap: break-all;
  margin-top: 0.25em;
}
.markdown-body li > p {
  margin-top: 16px;
}
.markdown-body input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.markdown-body [type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}
.markdown-body :checked + .radio-label {
  position: relative;
  z-index: 1;
  border-color: #0366d6;
}
.markdown-body .task-list-item {
  list-style-type: none;
}
.markdown-body .task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}
.markdown-body .task-list-item + .task-list-item {
  margin-top: 3px;
}
.markdown-body .table-container {
  overflow: auto;
}
.markdown-body table {
  width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
}
.markdown-body table th,
.markdown-body table td {
  padding: 6px 13px;
  border: 1px solid var(--smc-c-primary-light, #999);
}
.markdown-body table thead th {
  font-weight: 600;
}
.markdown-body table > tbody > tr:hover {
  background-color: rgba(var(--smc-c-primary-rgb), 0.1);
}
.markdown-body strong {
  font-family: var(--smc-font-serif);
  font-weight: 900;
}
.markdown-body p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 300;
  line-height: 1.5;
}
.markdown-body h1 .octicon-link,
.markdown-body h2 .octicon-link,
.markdown-body h3 .octicon-link,
.markdown-body h4 .octicon-link,
.markdown-body h5 .octicon-link,
.markdown-body h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}
.markdown-body h1:hover .anchor,
.markdown-body h2:hover .anchor,
.markdown-body h3:hover .anchor,
.markdown-body h4:hover .anchor,
.markdown-body h5:hover .anchor,
.markdown-body h6:hover .anchor {
  text-decoration: none;
}
.markdown-body h1:hover .anchor .octicon-link,
.markdown-body h2:hover .anchor .octicon-link,
.markdown-body h3:hover .anchor .octicon-link,
.markdown-body h4:hover .anchor .octicon-link,
.markdown-body h5:hover .anchor .octicon-link,
.markdown-body h6:hover .anchor .octicon-link {
  visibility: visible;
}
.markdown-body h1 {
  font-size: 3rem;
  border-bottom: 1px solid var(--smc-header-bottom-color);
}
.markdown-body h2 {
  font-size: 2.6rem;
  border-bottom: 1px solid var(--smc-header-bottom-color);
}
.markdown-body h3 {
  font-size: 2.2rem;
}
.markdown-body h4 {
  font-size: 1.8rem;
}
.markdown-body h5 {
  font-size: 1.4rem;
}
.markdown-body h6 {
  font-size: 1rem;
}
@media screen and (max-width: 768px) {
  .markdown-body h1 {
    font-size: 2rem;
  }
  .markdown-body h2 {
    font-size: 1.8rem;
  }
  .markdown-body h3 {
    font-size: 1.6rem;
  }
  .markdown-body h4 {
    font-size: 1.4rem;
  }
  .markdown-body h5 {
    font-size: 1.2rem;
  }
  .markdown-body h6 {
    font-size: 1rem;
  }
}
.markdown-body .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}
.markdown-body .anchor:focus {
  outline: none;
}
.markdown-body .full-commit .btn-outline:not(:disabled):hover {
  color: #005cc5;
  border-color: #005cc5;
}