$bodyClass: '.markdown-body';

@use './vars' as *;

#{$bodyClass} {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: var(--smc-bg-color);
  color: var(--smc-c-text);
  font-family: var(--smc-font-sans);
  font-size: 1rem;
  line-height: var(--smc-line-height);
  overflow-wrap: break-word;
  @import '../module/all';
}
