@use "sass:map";
@use "./var" as *;

$c-primary: map.get($colors, "primary");

// palette
$light: () !default;
$light: map.merge(
  (
    "theme-name": $theme-name,
    "line-height": $line-height,
    "c-primary-rgb": #{red($c-primary),
    green(
      $c-primary,
    ),
    blue($c-primary)},
    "text-color": $text-color,
    "header-bottom-color": #eaecef,
    "border-color": var(--smc-c-primary-light),
    "code-bg-color": #f6f8fa,
    "link-color": var(--smc-c-primary),
  ),
  $light
);

$dark: () !default;
$dark: map.merge(
  (
    "text-color": #f8f8f2,
    "code-bg-color": #242424,
    "link-color": lighten(map.get($colors, "primary"), 10%),
    "header-bottom-color": #333,
  ),
  $dark
);
