@use 'sass:map';

$theme-name: 'planet' !default;

// basic
$bg-color: transparent !default;
$text-color: #121212 !default;

// color
$colors: (
  'primary': #000000,
) !default;

$colors: map.merge(
  (
    'primary-light': lighten(map.get($colors, 'primary'), 50%),
    'primary-lighter': lighten(map.get($colors, 'primary'), 60%),
  ),
  $colors
);

// font
$line-height: 1.5 !default;

$font-family: () !default;
$font-family: map.merge(
  (
    'sans':
      'Raleway, -apple-system, "PingFang SC", "Microsoft YaHei", Arial, sans-serif',
    'serif':
      "'Songti SC', 'Noto Serif SC', STZhongsong, STKaiti, KaiTi, Roboto, serif",
    'mono': 'Menlo, Monaco, Consolas, "Courier New", monospace',
  ),
  $font-family
);

// heading
$heading: () !default;
$heading: map.deep-merge(
  (
    'font-weight': 500,
    'h1': (
      'font-size': 3rem,
    ),
    'h2': (
      'font-size': 2.6rem,
    ),
    'h3': (
      'font-size': 2.2rem,
    ),
    'h4': (
      'font-size': 1.8rem,
    ),
    'h5': (
      'font-size': 1.4rem,
    ),
    'h6': (
      'font-size': 1rem,
    ),
  ),
  $heading
);

// hr
$hr: () !default;
$hr: map.merge(
  (
    height: 0.2rem,
    'bg-color': #e1e4e8,
  ),
  $hr
);

// blockquote
$blockquote: () !default;
$blockquote: map.merge(
  (
    'color': #6a737d,
    'border-left-color': #dfe2e5,
  ),
  $blockquote
);

// table
$table: () !default;
$table: map.merge(
  (
    'td-border-color': #dfe2e5,
    'tr-border-color': #c6cbd1,
    'tr-2n-background-color': #f6f8fa,
  ),
  $table
);
