@use 'sass:map';
@use './palette' as *;
@use './var' as *;
@use '../utils/' as *;

// common
:root {
  @include set-css-var-from-map($font-family, 'font');
}

// css var
:root {
  @include set-css-var-from-map($colors, 'c');
  @include set-css-var-from-map($light);
}

html.dark {
  @include set-css-var-from-map($dark);
}
