:root {
  --smc-primary: #{$color-primary};
  --smc-secondary: #{$color-primary-light};
  --smc-header-bottom-color: #eaecef;
}

#{$bodyClass} {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: var(--smc-bg-color);
  color: var(--smc-color);
  font-family: $font-family;
  font-size: 1rem;
  line-height: $line-height;
  overflow-wrap: break-word;
  font-weight: $font-weight-base;
  @import "./base";
  @import "./blockquote";
  @import "./code";
  @import "./form";
  @import "./media";
  @import "./link";
  @import "./list";
  @import "./table";
  @import "./typography";
  @import "./utility";
}
