code,
pre {
  font-family: "Source Code Pro", Consolas, Monaco, SFMono-Regular,
    "Ubuntu Mono", Menlo, monospace;
}

// for inline code
code {
  padding: 3px 6px;
  font-size: 0.85rem;
  color: var(--hty-secondary-text-color);
  background: var(--smc-code-bg-color, #f2f2f2);
  border-radius: 3px;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
  overflow-wrap: normal;
  padding: 1rem;
  overflow: auto;
  background-color: var(--smc-code-bg-color, $code-background-color);
  border-radius: 3px;
  & > code {
    font-size: 0.85rem;
    white-space: pre;
  }
  code {
    display: inline;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-break: normal;
    background-color: transparent;
    border: 0;
  }
}
