@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

code,
pre {
  font-family: "Source Code Pro", "Courier New", Courier, Consolas, Monaco,
    SFMono-Regular, Menlo, monospace;
  font-size: 0.85rem;
}

code {
  padding: 3px 6px;
  font-size: 0.85rem;
  color: var(--hty-secondary-text-color);
  background: var(--hty-bg-color, #f2f2f2);
  border-radius: 3px;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
  overflow-wrap: normal;
  padding: 1rem;
  overflow: auto;
  background-color: var(--code-bg-color, $code-background-color);
  border-radius: 3px;
  & > code {
    white-space: pre;
  }
  code {
    font-size: 0.85rem;
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-break: normal;
    background-color: transparent;
    border: 0;
  }
}

.highlight {
  margin-bottom: 1rem;
  pre {
    margin-bottom: 0;
    word-break: normal;
    padding: 1rem;
    overflow: auto;
    background-color: $code-background-color;
    border-radius: 0.2rem;
  }
}
