@use 'sass:map';
@use '../base/var' as *;

code,
pre {
  font-family: 'Source Code Pro', Consolas, Monaco, SFMono-Regular,
    'Ubuntu Mono', Menlo, monospace;
}

// for inline code
h1 > code,
h2 > code,
h3 > code,
h4 > code {
  font-size: 0.9em;
}

code {
  padding: 3px 6px;
  font-size: 0.85rem;
  color: var(--smc-c-text-light);
  background: var(--smc-code-bg-color);
  border-radius: 3px;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
  overflow-wrap: normal;
  padding: 1rem;
  overflow: auto;
  background-color: var(--smc-code-bg-color);
  border-radius: 3px;
  & > code {
    font-size: 0.85rem;
    white-space: pre;
  }
  code {
    display: block;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-break: normal;
    background-color: transparent;
    border: 0;
  }
}
