input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

:checked+.radio-label {
  position: relative;
  z-index: 1;
  border-color: #0366d6;
}

.task-list-item {
  list-style-type: none;
  input {
    margin: 0 0.2em 0.25em -1.6em;
    vertical-align: middle;
  }
  +.task-list-item {
    margin-top: 3px;
  }
}