a {
  color: var(--smc-c-primary);
  text-decoration: none;

  border-bottom: 1px solid transparent;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: var(--smc-link-color);
    border-bottom: 1px solid var(--smc-link-color);
  }

  &:not([href]) {
    color: inherit;
    text-decoration: none;
  }
}
