table {
  display: block;
  width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
  th {
    font-weight: 600;
  }
  th,
  td {
    padding: 6px 13px;
    border: 1px solid $table-td-border-color;
  }
  tr {
    background-color: #fff;
    border-top: 1px solid $table-tr-border-color;
  }
  tr:nth-child(2n) {
    background-color: $table-tr-2n-background-color;
  }
}

td,
th {
  padding: 0;
}