.anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
  &:focus {
    outline: none;
  }
}

.full-commit .btn-outline:not(:disabled):hover {
  color: #005cc5;
  border-color: #005cc5;
}
