$theme-name: 'blood';
// basic
$background: #020202;
$color: #d81e06;
// color
$color-primary: #be0000;
$color-primary-light: lighten($color-primary, 20%);
$color-primary-lighter: lighten($color-primary, 35%);
$bottom-color: $color;
// font
@font-face {
  font-family: "站酷高端黑";
  src: url(/src/font/站酷高端黑修订151105.ttf) format("truetype");
}
$font-family: "站酷高端黑", "思源黑体", "PingFang SC", "Microsoft YaHei", Arial, sans-serif !default;
$font-weight-base: normal !default;
$font-weight-bold: bold !default;
$font-weight-heading: bold !default;
// blockquote
$blockquote-color: $color-primary;
$blockquote-border-left-color: $color-primary-light;
// link
$link-color: $color-primary-lighter;
