$theme-name: "blood";
// basic
$background: #020202;
$color: #d81e06;
// color
$color-primary: #be0000;
$color-primary-light: lighten($color-primary, 20%);
$color-primary-lighter: lighten($color-primary, 35%);
$bottom-color: $color;
// font
$font-family: Noto Serif SC, serif !default;
$font-weight-base: 900 !default;
$font-weight-bold: normal !default;
$font-weight-heading: 900 !default;
// blockquote
$blockquote-color: $color-primary;
$blockquote-border-left-color: $color-primary-light;
// link
$link-color: $color-primary-lighter;
