$theme-name: "yun";
// basic
$background: transparent;
// color
$color-primary: #0078e7;
$color-primary-light: lighten($color-primary, 20%);
$color-primary-lighter: lighten($color-primary, 35%);
$bottom-color: $color-primary-light;
// header
$h1-font-size: 2rem;
$h2-font-size: 1.8rem;
$h3-font-size: 1.6rem;
$h4-font-size: 1.4rem;
$h5-font-size: 1.2rem;
$h6-font-size: 1rem;
// font
$line-height: 1.8;
$font-family: Raleway, "PingFang SC", "Microsoft YaHei", Arial, sans-serif !default;
$font-weight-base: 300;
$font-weight-bold: bold;
$font-weight-heading: 300;
// hr
$hr-height: 2px;
// code
$code-background-color: lighten($color-primary, 50%);
// link
$link-color: $color-primary;
// table
$table-td-border-color: $color-primary-light;
$table-tr-border-color: $color-primary-light;
$table-tr-2n-background-color: rgba($color-primary, 0.08);
