// basic
$background: transparent;
// color
$color-primary: #8e71c1;
$color-primary-light: lighten($color-primary, 20%);
$color-primary-lighter: lighten($color-primary, 35%);
$bottom-color: $color-primary-light;
// font
$font-family: Raleway, "PingFang SC", "Microsoft YaHei", Arial, sans-serif !default;

// heading
$heading: (
  "font-weight": 300,
) !default;

// hr
$hr-height: 0.1rem;
$hr-background-color: $color-primary-light;
$hr-background: radial-gradient(
  ellipse at center,
  $color-primary-light 0,
  rgba(255, 255, 255, 0) 100%
);
// code
$code: (
  "bg-color": $color-primary-lighter,
);

// table
$table-td-border-color: $color-primary-light;
$table-tr-border-color: $color-primary-light;
$table-tr-2n-background-color: rgba($color-primary, 0.08);
