$background: transparent;

$color-primary: #8e71c1 !default;
$color-light-primary: lighten($color-primary, 20%);
$bottom-color: $color-light-primary;

$font-weight-base: 300;
$font-weight-bold: 600;
$font-weight-heading: 300;

$hr-background-color: $color-light-primary;
$hr-background: radial-gradient(ellipse at center, $color-light-primary 0, rgba(255, 255, 255, 0) 80%);

$blockquote-color: $color-primary !default;
$blockquote-border-left-color: $color-light-primary !default;

@import '../markdown.scss';

// hr {
//   background-color: transparent;
//   border-bottom:transparent;
//   background: radial-gradient(ellipse at center, rgba(0, 20, 80, 0.2) 0, rgba(255, 255, 255, 0) 75%);
//   box-sizing: content-box;
// }