$color-primary: #8e71c1 !default;
$bottom-color: #eaecef !default;

$font-weight-base: 300;
$font-weight-bold: 600;
$font-weight-heading: 300;

@import '../markdown.scss';

// hr {
//   background: radial-gradient(ellipse at center, rgba(0, 20, 80, 0.2) 0, rgba(255, 255, 255, 0) 75%);
//   box-sizing: content-box;
// }